<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header" id="top">
            <h2 class="pageheader-title">{{ header }} </h2>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        {% for bc_name, bc_link in breadcrumbs %}
                        <li class="breadcrumb-item{% if forloop.last %} active{% endif %}"><a href="{{ bc_link }}" class="breadcrumb-link">{{ bc_name }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>