{% extends 'philosophy.base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'philosophy/css/base.css' %}">
<link rel="stylesheet" href="{% static 'philosophy/css/vendor.css' %}">
<link rel="stylesheet" href="{% static 'philosophy/css/main.css' %}">
{% endblock css %}

{% block body %}

<body>
    <section style="background:white; padding: 2rem;">
        <div class="row narrow text-center">
            <h1><small>the mastermind</small> Ömer Selçuk</h1>
        </div>
    </section>
</body>
{% endblock body %}