{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ doc.title|default:'Imajiner. Özgürleştiğin yer.' }}</title>
    <meta name="description" content="{{ doc.description }}">
    <meta name="author" content="{{ doc.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block css %} {% endblock css %}

    <script src="{% static 'philosophy/js/modernizr.js' %}"></script>
    <script src="{% static 'philosophy/js/pace.min.js' %}"></script>
    <script defer src="{% static 'notebook/tagging.js' %}"></script>
    {% block script %} {% endblock script %}

    <!-- favicons
        ================================================== -->
    <link rel="shortcut icon" href="{% static 'notebook/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'notebook/favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'philosophy/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'philosophy/css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'philosophy/css/main.css' %}">
</head>

<body id="top">
    <section class="s-content">
        <div class="row masonry-wrap">
            <div class="masonry infinite-container">
                <div class="grid-sizer"></div>
                {% for n in numbers %}
                <article class="infinite-item masonry__brick entry format-standard">

                    <div class="entry__text">
                        <div class="entry__header">

                            <div class="entry__date">
                                <a href="#">{{ n.created_at }}</a>
                            </div>
                            <h1 class="entry__title"><a
                                    href="#">{{ n.title }}</a>
                            </h1>

                        </div>
                    </div>
                </article>
                {% endfor %}
            </div>
    
            {% if numbers.has_next %}
            <a style="display:none;" class="infinite-more-link" href="?page={{ numbers.next_page_number }}">More</a>
            {% endif %}
    
            <div class="loading" style="display: none;">
                Loading...
            </div>

        </div>
    </section>
    
    <script src="{% static 'philosophy/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'philosophy/js/infinite.min.js' %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
</body>

</html>