{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'philosophy/css/base.css' %}">
<link rel="stylesheet" href="{% static 'philosophy/css/vendor.css' %}">
<link rel="stylesheet" href="{% static 'philosophy/css/main.css' %}">
{% endblock css %}

{% block body %}

<body>
    <section style="background:white; padding: 2rem;">
        {% if user.is_shadow %}
        <div class="row narrow section-intro add-bottom text-center">
            <h2>O bir hayalet.</h2>
            <h3>{{ user.username }} hakkında bir bilgi veremiyoruz.</h3>
            <h4>Hayalet kayıtlar, fazla dikkat çekmeden yalnızça içerik yazmak isteyen şahıslardır.</h4>
        </div>
        {% else %}
        <div class="half-bottom">
            <h2>{{ user.username }}</h2>
            <ul>
                {% for narrative in narratives %}
                <li><a href="{{ narrative.get_absolute_url }}">{{ narrative.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </section>

</body>
{% endblock body %}