{% extends 'philosophy.base.html' %}
{% load static tagging %}

{% block head %}
<link rel="stylesheet" href="{% static 'notebook/popup.css' %}">
<script defer src="{% static 'notebook/tagging.js' %}"></script>
<script defer src="{% static 'notebook/popup.js' %}"></script>
{% endblock %}


{% block body.id %}top{% endblock %}
{% block body %}
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Etiket ekle</p>
        <form id="tag-add-form">
            {% csrf_token %}
            <input type="hidden" name="narrative" value="{{ narrative.slug }}">
            <input type="text" name="name" placeholder="derealizasyon" required>
            <input type="submit" value="Ekle">
        </form>
    </div>

</div>
<!-- s-content
    ================================================== -->
<section id="content" class="s-content s-content--narrow s-content--no-padding-bottom">

    <article class="row format-standard">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                {{ narrative.title }}
            </h1>
            <ul class="s-content__header-meta">
                <li class="date">{{ narrative.created_at|date }}</li>
                <!-- <li class="cat">
                        In
                        <a href="#0">Lifestyle</a>
                        <a href="#0">Travel</a>
                    </li> -->
            </ul>
        </div> <!-- end s-content__header -->
        {% if narrative.sound %}
        <div class="s-content__media col-full">
            <div class="s-content__post-thumb">

                <div class="audio-wrap">
                    <audio id="player2" src="{{ narrative.sound.file.url }}" width="100%" height="42"
                        controls="controls"></audio>
                </div>
            </div>
        </div> <!-- end s-content__media -->
        {% endif %}

        <div class="col-full s-content__main">

            {{ narrative.html|safe }}

            <p class="s-content__tags">
                <span>Bir tutam</span>

                <span id="tag-list" class="s-content__tag-list">
                    {% tags_for_user 20 as tags %}
                    {% for tag in tags %}
                    <a class="tag-display" id="{{ tag.abstract.slug }}">{{ tag.abstract.name }} (<small class="count">{{ tag.count }}</small>)</a>
                    {% endfor %}
                    <a id="tag-sample" style="display:none;"></a>
                    <i id="tag-add" style="padding-top:5px;" class="fa fa-plus fa-lg"></i>
                </span>
            </p> <!-- end s-content__tags -->

            <div class="s-content__author">

                <div class="s-content__author-about">
                    <h4 class="s-content__author-name">
                        {% if narrative.author.is_shadow %}
                        <p>{{ narrative.author.username }}</p>
                        {% else %}
                        <a
                            href="{% url 'identity:author' username=narrative.author.username %}">{{ narrative.author.username }}</a>
                        {% endif %}
                    </h4>

                    <p>
                        {{ narrative.author.profile.about|default:'Hakkında kısmı boş.' }}
                    </p>
                </div>
                <br>
            </div>



        </div> <!-- end s-content__main -->

    </article>

    <form id="template-vars" style="display:none;">
        {% csrf_token %}
        <input type="hidden" name="narrative-slug" value="{{ narrative.slug }}">
        <input type="hidden" name="user-username" value="{{ request.user.username }}">
    </form>

</section> <!-- s-content -->


<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
{% endblock %}