{% extends 'base.html' %}
{% load static tagging i18n %}

{% block head %}
{% endblock head %}
{% block body %}

<section id="content" class="s-content s-content--narrow s-content--no-padding-bottom">
    <article id="article" class="narrative-detail row format-standard">

        <div class="s-content__header col-full">
            <h1 class="s-content__header-title">
                {{ narrative.title }}
            </h1>
            <ul class="s-content__header-meta">
                <li class="date">{{ narrative.published_at|date }}</li>
                <li class="date">V{{ narrative.versions.first.version }}</li>

                {% if request.user == narrative.master.author %}
                {% if narrative.language %}
                {% get_language_info for narrative.language as language_info %}
                <li class="date">{{ language_info.name_local }}</li>
                {% else %}
                <li class="">{% translate 'unclassified'|title %}</li>
                {% endif %}
                <li class="cat"><a href="{% url 'notebook:sketch' uuid=narrative.uuid %}">{% translate 'edit'|capfirst %}</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="col-full s-content__main">

            <div id="article-body">
                {{ narrative.html|safe }}
            </div>

            <p class="s-content__tags">
                <span class="philosophy">{% translate 'pinch of'|capfirst %}</span>

                <span id="tag-list" class="s-content__tag-list">
                    {% tags_for_user 20 as tags %}
                    {% for tag in tags %}
                    <a class="tag-display" id="{{ tag.abstract.slug }}">{{ tag.abstract.name }} (<small class="count">{{ tag.count }}</small>)</a>
                    {% endfor %}
                    <a class="tag-display" id="tag-sample" style="display:none;"></a>
                    <i id="tag-add-button" style="padding-top:5px;" class="fa fa-plus fa-lg"></i>
                </span>
            </p> <!-- end s-content__tags -->

            <div class="s-content__author">

                <div class="s-content__author-about">
                    <h4 class="s-content__author-name">
                        {% if narrative.author.is_shadow %}
                        <p class="philosophy">{{ narrative.master.author.username }}  <i class="fas fa-ghost"></i></p>
                        {% else %}
                        <a class="philosophy"
                            href="{% url 'identity:author' username=narrative.master.author.username %}">{{ narrative.master.author.username }}</a>
                        {% endif %}
                    </h4>

                    <p class="philosophy">
                        {{ narrative.author.profile.biography }}
                    </p>
                </div>
                <br>
            </div>
        </div>
    </article>

    <form id="template-vars" style="display:none;">
        {% csrf_token %}
        <input type="hidden" name="narrative-slug" value="{{ narrative.slug }}">
        <input type="hidden" name="user-username" value="{{ request.user.username }}">
    </form>

</section> <!-- s-content -->


<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
{% endblock %}