{% extends 'base.html' %}
{% load static i18n %}


{% block head %}
<link rel="stylesheet" href="{% static 'suitcase/css/style.css' %}">
<script defer src="{% static 'suitcase/js/main.js' %}"></script>
{% endblock head %}


{% block body.id %}top{% endblock %}
{% block body %}
    <section class="s-content">
        <div class="row narrow">
            <div class="col-full s-content__header">
                <h1 class="philosophy">{% translate 'sketches'|capfirst %}</h1>
                <p class="lead">{% translate 'begin writing a new story or mess with the unfinished works'|capfirst %}</p>
            </div>
        </div>
        <div class="row masonry-wrap">
            <div class="masonry blog-flex">
                <div class="masonry__brick entry format-standard">
                    <a href="{% url 'narrative:write' %}" class="f-blog">
                        <p class="meta"><span>{% translate 'right now'|capfirst %}</span></p>
                        <h3 style="font-family: 'librebaskerville-regular'">{% translate 'new story, new dreams, new possibilities'|capfirst %}</h3>
                        <p class="read-more">{% translate 'go ahead'|capfirst %} <i class="fa fa-arrow-right"></i></p>
                    </a>
                </div>
                {% translate 'untitled narrative'|title as untitled %}
                {% for sketch in sketches %}
                <div class="masonry__brick entry format-standard">
                    <a href="{{ sketch.get_absolute_url }}" class="f-blog">
                        <p class="meta"><span>{{ sketch.created_at }}</span></p>
                        <h3 style="font-family: 'librebaskerville-regular'">{% firstof sketch.title untitled %}</h3>
                        <p class="read-more">{% translate 'edit'|capfirst %} <i class="fa fa-arrow-right"></i></p>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock body %}