{% extends 'base.html' %}
{% load static tagging %}

{% block body.id %}top{% endblock %}
{% block body %}
    <section class="philosophy s-content">

        <div class="philosophy row narrow">
            <div class="philosophy col-full s-content__header">
                <h1 class="philosophy" style="font-family:'librebaskerville-regular'">Öykünüşler</h1>

                <div class="philosophy" style="border:1px black dashed; padding:10px">
                    <p style="text-align:left" class="philosophy lead">Espresso</p>
                    <ul style="text-align:left">
                        <li><a href="{% url 'notebook:write' %}">Hikaye yaz</a></li>
                        <li><a href="{% url 'notebook:folder' %}">Taslaklarım</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="philosophy row masonry-wrap">
            <div class="philosophy masonry infinite-container">

                <div class="philosophy grid-sizer"></div>

                {% for narrative in narratives %}

                <article class="philosophy infinite-item masonry__brick entry format-standard">


                    <div class="philosophy entry__text">
                        <div class="philosophy entry__header">

                            <div class="philosophy entry__date">
                                <a class="philosophy" href="#0">{{ narrative.created_at|date }}</a>
                            </div>
                            <h1 class="philosophy entry__title"><a class="philosophy"
                                    href="{{ narrative.get_absolute_url }}">{{ narrative.title }}</a>
                            </h1>

                        </div>
                        {% if narrative.lead %}
                        <div class="philosophy entry__excerpt">
                            <p class="philosophy">
                                {{ narrative.lead|truncatechars:140 }}
                            </p>
                        </div>
                        {% endif %}
                        {% if narrative.tags.has_tags %}
                            {% tags_for_user 3 as tags %}
                            <div class="philosophy entry__meta">
                                <span class="philosophy entry__meta-links">
                                    {% for tag in tags %}
                                    <a class="philosophy" href="#0">{{ tag.abstract.name }}</a>
                                    {% endfor %}
                                </span>
                            </div>
                        {% else %}
                        {% endif %}
                    </div>

                </article> <!-- end article -->
                {% endfor %}
            </div> <!-- end masonry -->

            {% if page_obj.has_next %}
            <a style="display:none;" class="philosophy infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
            {% endif %}

            <div class="philosophy d-flex justify-content-center" style="display:none;">
                <div class="philosophy spinner-border" role="status">
                    <span class="philosophy sr-only"></span>
                </div>
            </div>
        </div> <!-- end masonry-wrap -->

    </section> <!-- s-content -->
    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
            <div class="philosophy line-scale">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block foot %}
<script src="{% static 'philosophy/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'philosophy/js/infinite.min.js' %}"></script>
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
            $iml = $("#infinite-more-link")
            if ($iml) window.href = $iml.href
        },
        onAfterPageLoad: function ($items) {
            $(".masonry").masonry('appended', $items);
        }
    });
</script>
{% endblock %}