{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<style type="text/css" media="screen">
    .s-styles {
        background: #f2f2f2;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .s-styles .section-intro h1 {
        margin-top: 0;
    }
</style>
<script defer type="text/javascript" src="{% static 'notebook/autosave.js' %}"></script>
<script defer type="text/javascript" src="{% static 'notebook/audio.js' %}"></script>
{% endblock head %}

{% block body.id %}top{% endblock %}
{% block body %}
    <section id="styles" class="philosophy s-styles">
        <div class="philosophy row">

            <div class="philosophy tab-full">
                <h1 class="philosophy">{% translate 'declare a narrative'|capfirst %}</h1>
                <br>
                <form enctype="multipart/form-data" class="philosophy" id="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <blockquote class="philosophy">
                        <p class="philosophy" id="status">{% translate "something's happening"|capfirst %}</p>
                        <cite class="philosophy">{% translate 'the system'|capfirst %}</cite>
                    </blockquote>
                    <input id="submit-button" class="philosophy btn--primary full-width" type="submit" value="{% translate 'declare'|capfirst %}">
                </form>
            </div>
        </div>
    </section>
{% endblock body %}