{% extends 'base.html' %}
{% load static %}

{% block head %}
<style type="text/css" media="screen">
    .s-styles {
        background: #f2f2f2;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .s-styles .section-intro h1 {
        margin-top: 0;
    }
</style>
<script defer type="text/javascript" src="{% static 'notebook/autosave.js' %}"></script>
<script defer type="text/javascript" src="{% static 'notebook/audio.js' %}"></script>
{% endblock head %}

{% block body.id %}top{% endblock %}
{% block body %}
    <section id="styles" class="philosophy s-styles">
        <div class="philosophy row">

            <div class="philosophy tab-full">
                <h1 class="philosophy">Bildirge yayınla</h1>
                <br>
                <form enctype="multipart/form-data" class="philosophy" id="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <label class="philosophy">Yazıya iliştirilecek ses:</label>
                    <div class="xeecoz ui huge icon buttons">
                        <label id="audio-primary" style="border-right:1px lightgray solid;" class="xeecoz ui icon button" for="audio-input"><i class="icon paperclip"></i><span style="margin-left:0.8rem;">Ses ekle</span></label>
                        <input style="display:none;" accept="audio/*" type="file" id="audio-input" capture>
                        <div id="audio-secondary" class="xeecoz ui icon button"><i class="icon microphone"></i></div>
                    </div>

                    <blockquote class="philosophy philosophy">
                        <p class="philosophy" id="status">Bişiler oluyo</p>
                        <cite class="philosophy">Sistem</cite>
                    </blockquote>
                    <input id="submit-button" class="philosophy btn--primary full-width" type="submit" value="Beyan et">
                </form>
            </div>
        </div>
    </section>
{% endblock body %}