{% extends 'base.html' %}
{% load static %}

{% block head %}
<style type="text/css" media="screen">
    .s-styles {
        background: #f2f2f2;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .s-styles .section-intro h1 {
        margin-top: 0;
    }
</style>
<script defer type="text/javascript" src="{% static 'notebook/autosave.js' %}"></script>
{% endblock head %}

{% block body.id %}top{% endblock %}
{% block body %}
    <section id="styles" class="philosophy s-styles">
        <div class="philosophy row">

            <div class="philosophy tab-full">
                <h1 class="philosophy">Bildirge yayınla</h1>
                <br>
                <form class="philosophy" id="form" action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="xeecoz ui huge icon buttons">
                        <button class="xeecoz ui button">Ses ekle</button>
                        <button class="xeecoz ui icon button"><i class="microphone icon"></i></button>
                        <button class="xeecoz ui icon button"><i class="recycle icon"></i></button>
                        <button class="xeecoz ui icon button"><i class="delete icon"></i></button>
                    </div>
                    <blockquote class="philosophy philosophy">
                        <p class="philosophy" id="status">Bişiler oluyo</p>
                        <cite class="philosophy">Sistem</cite>
                    </blockquote>
                    <input class="philosophy btn--primary full-width" type="submit" value="Beyan et">
                </form>
            </div>
        </div>
    </section>
{% endblock body %}