@font-face {
    font-family: 'libre_baskervillebold';
    src: url('librebaskerville-bold-webfont.woff2') format('woff2'),
         url('librebaskerville-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervilleitalic';
    src: url('librebaskerville-italic-webfont.woff2') format('woff2'),
         url('librebaskerville-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'libre_baskervilleregular';
    src: url('librebaskerville-regular-webfont.woff2') format('woff2'),
         url('librebaskerville-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}