{% extends 'console/base.html' %}
{% load static widget_tweaks %}
{% block body %}

<div class="container-fluid dashboard-content">
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header" id="top">
                        <h2 class="pageheader-title">Erişim & Güvenlik</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section" id="overview">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="lead">Radikal değişiklikler buradan yapılır.</p>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-block" id="account-info">
                        <h3 class="section-title">En temel bilgiler</h3>
                        <p>Güncelledikten sonra kaydet tuşuna tıklamazsan kaydetmem.</p>
                    </div>
                    <div class="card">
                        <div class="card-body border-top">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="basics">
                                <div class="form-group">
                                    <label for="username">Mahlas</label>
                                    <input name="username" class="form-control" type="text" value="{{ request.user.username }}">
                                    <p>Kullanıcı adını yalnızca bir kez güncelleyebilirsin, ve eski adın da bir sümük
                                        gibi yapışır yakana.</p>
                                </div>
                                <div class="form-group">
                                    <label for="password">Yeni Şifre</label>
                                    <input class="form-control" name="password" type="password"
                                        placeholder="Yeni şifreni tuşlayabilin">
                                </div>
                                <div class="form-group">
                                    <label for="password1">Yeni Şifreyi onayla</label>
                                    <input class="form-control" name="password1" type="password"
                                        placeholder="Yeni şifreni onaylayabilin">
                                </div>
                                <div>
                                    <input class="btn btn-primary btn-block" value="Kaydet" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}