{% load static i18n %}
<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ doc.description }}">
    <meta name="author" content="{{ doc.author }}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <title>{{ doc.title|default:'Untitled Console Page' }}</title>

    <script src="{% url 'javascript-catalog' %}"></script>
    {% block standard %}
    {% block standard.fonts %}
    <link rel="stylesheet" href="{% static 'fonts/librebaskerville/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/quest/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/questgrande/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/domine/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/lato/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/metropolis/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'console/vendor/fonts/circular-std/style.css' %}">
    {% endblock %}
    {% block standard.css %}
    <link rel="stylesheet" href="{% static 'console/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'console/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'console/vendor/fonts/flag-icon-css/flag-icon.min.css' %}">
    {% endblock standard.css %}
    {% block standard.js %}
    <!-- gone to foot -->
    {% endblock standard.js %}
    {% endblock standard %}

    {% block head %}{% endblock %}
</head>

<body>
    <form id="csrf" style="display:none" aria-hidden="true">
        {% csrf_token %}
    </form>
    <div class="dashboard-main-wrapper">
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand">IMAJINER</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item">
                            <div id="custom-search" class="top-search-bar">
                                <input class="form-control" type="text" placeholder="Ara">
                            </div>
                        </li>
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img
                                    src="{% static 'console/images/avatar-1.jpg' %}" alt=""
                                    class="user-avatar-md rounded-circle"></a>
                            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown"
                                aria-labelledby="navbarDropdownMenuLink2">
                                <div class="nav-user-info">
                                    <h5 class="mb-0 text-white nav-user-name">{{ request.user.username }}</h5>
                                    <span
                                        class="ml-2">{% if request.user.is_shadow %}{% translate 'shadow'|title %}{% else %}{% translate 'author'|title %}{% endif %}</span>
                                </div>
                                <a class="dropdown-item" href="{% url 'gatewall:logout' %}"><i
                                        class="fas fa-power-off mr-2"></i>{% translate 'log out'|title %}</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">{% translate 'console'|title %}</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                {% translate 'menu'|title %}
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:overview' %}"><i
                                        class="fas fa-fw fa-th"></i>{% translate 'espresso'|title %}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:profile' %}"><i
                                        class="fa fa-fw fa-user-circle"></i>{% translate 'profile'|title %}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:access' %}"><i
                                        class="fa fa-fw fa-key"></i>{% translate 'access & security'|title %}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:narratives' %}"><i
                                        class="fa fa-fw fa-copy"></i>{% translate 'narratives'|title %}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:refereeship' %}"><i
                                        class="fa fa-fw fa-link"></i>{% translate 'refereeship'|title %}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:subscriptions' %}"><i
                                        class="fas fa-fw fa-users"></i>{% translate 'subscriptions'|title %}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:preferences' %}"><i
                                        class="fa fa-fw fa-cog"></i>{% translate 'preferences'|title %}</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="{% url 'console:studio' %}"><i
                                        class="fa fa-fw fa-pen"></i>{% translate 'writing studio'|title %}</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="dashboard-wrapper">
            {% block body %}{% endblock %}
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            &copy;{% translate 'Copyright Imajiner. All rights reserved.' %}
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                            <div class="text-md-right footer-links d-none d-sm-block">
                                <a href="#0">{% translate 'About' %}</a>
                                <a href="#0">{% translate 'Contact' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script defer src="{% static 'console/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script defer src="{% static 'console/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script defer src="{% static 'console/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
    <script defer src="{% static 'console/libs/js/main-js.js' %}"></script>
    {% block foot %}{% endblock foot %}
</body>

</html>