{% extends 'console/base.html' %}
{% block body %}
<div class="container-fluid dashboard-content">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">This webpage is not implemented yet. Referer: {{ request.META.HTTP_REFERER }}</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        </ol>
                    </nav>
                </div>
            <pre>{{ request.META|pprint }}</pre>
            </div>
        </div>
    </div>
</div>
{% endblock %}
