{% extends 'console/base.html' %}
{% load static usercontext i18n %}

{% block body %}
<div class="container-fluid dashboard-content ">
    <div class="row">
        <div class="col-xl-10">
            {% translate 'console espresso' as header %}
            {% include 'console/page/header.html' with header=header|title %}
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div style="border:1px solid var(--secondary);" class="card bg-secondary">
                        <div class="card-header text-secondary d-flex">
                            <h3 class="mb-0">{% translate 'session management'|capfirst %}</h3>
                            <div class="ml-auto">
                                <i class="fas fa-desktop fa-fw fa-sm text-secondary"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-inline-block">
                                <p class="card-text">
                                    {% translate 'view and manage the devices you are currently logged in.'|capfirst %}
                                </p>
                                <a href="{% url 'console:access' %}#sessions" class="btn btn-dark">{% translate 'manage'|capfirst %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div style="border:1px solid var(--dark);" class="card bg-dark">
                        <div class="card-header text-secondary d-flex">
                            <h3 class="mb-0">{% translate 'unpublished narratives'|capfirst %}</h3>
                            <div class="ml-auto">
                                <i class="fas fa-copy fa-fw fa-sm text-dark"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-inline-block">
                                <p class="card-text">
                                    {% translate 'view the narratives you left as a sketch and did not publish.'|capfirst %}
                                </p>
                                <a href="{% url 'console:narratives' %}" class="btn btn-primary">{% translate 'manage'|capfirst %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div style="border:1px solid var(--dark);" class="card bg-info">
                        <div class="card-header text-info d-flex">
                            <h3 class="mb-0">{% translate 'update password'|capfirst %}</h3>
                            <div class="ml-auto">
                                <i class="fas fa-key fa-fw fa-sm text-dark"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-inline-block">
                                <p class="card-text">
                                    {% translate 'you may update password indefinite times.'|capfirst %}
                                </p>
                                <a disabled href="{% url 'console:access' %}" class="btn btn-light">{% translate 'proceed'|capfirst %}</a>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div style="border:1px solid var(--dark);" class="card bg-light">
                        <div class="card-header text-info d-flex">
                            <h3 class="mb-0">{% translate 'old narrative versions'|capfirst %}</h3>
                            <div class="ml-auto">
                                <i class="fas fa-clock fa-fw fa-sm text-dark"></i>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="d-inline-block">
                                <p class="card-text">
                                    {% translate 'any piece of your work is kept.'|capfirst %}
                                </p>
                                <a disabled href="{% url 'console:narratives' %}" class="btn btn-dark">{% translate 'view'|capfirst %}</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock body %}