{% extends 'console/base.html' %}
{% load static i18n widget_tweaks %}

{% block head %}
<link rel="stylesheet" href="{% static 'flags/css/flag-icon.min.css' %}">
<link rel="stylesheet" href="{% static 'console/vendor/multi-select/css/multi-select.css' %}">
{% endblock head %}
{% block body %}
<div class="container-fluid dashboard-content">
    <!-- ============================================================== -->
    <!-- pageheader -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="page-header">
                <h2 class="pageheader-title">Preferences</h2>
                <div class="page-breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Preferred languages</h5>
                <div class="card-body">
                    <form id="submit-langs">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6"><p>Available languages</p></div>
                            <div class="col-6"><p>My languages</p></div>
                        </div>
                        <select id='select-languages' multiple='multiple'>
                            {% get_available_languages as LANGUAGES %}
                                {% for lang_code, lang_local in LANGUAGES %}
                                <option value='{{ lang_code }}'{% if lang_code in request.user.profile.languages %} selected{% endif %}>{{ lang_local }}</option>
                                {% endfor %}
                        </select>
                        <br>
                        <button style="transition: ease 0.5s;" id="languages-button" type="submit" class="btn btn-primary btn-block" value="Save">Save</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- bootstrap select -->
        <!-- ============================================================== -->
    </div>
</div>
{% endblock body %}
{% block foot %}
<script src="{% static 'console/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'console/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'console/vendor/slimscroll/jquery.slimscroll.js' %}"></script>
<script src="{% static 'console/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
<script src="{% static 'console/libs/js/main-js.js' %}"></script>
<script>
$('#select-languages').multiSelect({ selectableOptgroup: true });
</script>
<script>
    submitLanguages = document.getElementById('submit-langs');
    selectedLanguages = document.getElementById('select-languages');
    languagesButton = document.getElementById('languages-button');
    submitLanguages.onsubmit = (e) => {
        buttonLoading(languagesButton);
        e.preventDefault();
        const fd = new FormData(submitLanguages);
        const langs = Array.from(selectedLanguages.selectedOptions).map(i => i.value).join(',');
        fd.set('language-codes', langs);
        fd.set('action', 'set-languages');
        fetch('', {
            method: 'POST',
            body: fd,
        }).then(response => {
            if (response.ok){
                buttonSuccess(languagesButton);
            } else {
                buttonError(languagesButton);
            }
        }).catch(error => {
            buttonError(languagesButton);
        })
    }
</script>

{% endblock foot %}