{% extends 'console/base.html' %}

{% block body %}

<div class="container-fluid dashboard-content">
    <div class="row">
        
        <div class="col-xl-10">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header" id="top">
                        <h2 class="pageheader-title">Kimlik Yönetim</h2>
                        
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="page-section" id="overview">
                <!-- ============================================================== -->
                <!-- overview  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p class="lead">Hesabınıza dair en gerekli bilgiler bu sayfada toplandı. İstediğiniz bilgileri
                            görüntüleyebilir ve değiştirebilirsiniz.</p>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end overview  -->
                <!-- ============================================================== -->
            </div>
            <br>
            <!-- ============================================================== -->
            <!-- basic form  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-block" id="account-info">
                        <h3 class="section-title">Hesap</h3>
                        <p>Güncelledikten sonra kaydet tuşuna tıklamazsan kaydetmem.</p>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="inputText3" class="col-form-label">Mahlas</label>
                                    <input value="{{ request.user.username }}" id="inputText3" type="text"
                                        class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input id="inputPassword" type="password" placeholder="Hmmm..."
                                        class="form-control">
                                    <p>Elbette şifreni burada göstermiyorum. Değiştirmek istersen <a style="text-decoration: underline;" href="#0">Erişim</a> kısmından halledersin.</p>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Hakkında</label>
                                    <textarea placeholder="Sizi ne diye bilsinler?"
                                        value="{{ request.user.profile.biography }}" class="form-control"
                                        id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                                <div>
                                    <input class="btn btn-primary btn-block" value="Kaydet" type="submit">
                                </div>
                            </form>
                        </div>
                        <div class="card-body border-top" id="account-type">
                            <h3>Hesap türü</h3>
                            <p>Yazarken de hayalet hesap özelliklerinden faydalanabilirsin, çünkü niye olmasın?</p>
                            <form>

                                <div class="form-group">
                                    <div class="form-group row">
                                        <label class="col-12 col-sm-12 col-form-label text-sm">Hayalet</label>
                                        <div class="col-12 col-sm-12 col-lg-12">
                                            <div class="switch-button switch-button-success">
                                                <input type="checkbox" {% if request.user.is_shadow %}checked{% endif %}
                                                    name="switch16" id="switch16">
                                                <span>
                                                    <label for="switch16"></label>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <input class="btn btn-primary btn-block" value="Kaydet" type="submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end basic form  -->
            <!-- ============================================================== -->

        </div>
        <!-- ============================================================== -->
        <!-- sidenavbar -->
        <!-- ============================================================== -->
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="sidebar-nav-fixed">
                <ul class="list-unstyled">
                    <li><a href="#account-info">Hesap bilgileri</a></li>
                    <li><a href="#account-type">Hesap türü</a></li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end sidenavbar -->
        <!-- ============================================================== -->
    </div>
</div>
{% endblock body %}