{% extends 'console/base.html' %}
{% load static widget_tweaks i18n humanize %}
{% block body %}
<div class="container-fluid dashboard-content">
    <div class="row">
        <div class="col-12">
            {% translate 'narrative details'|capfirst as header %}
            {% include 'console/page/header.html' with header=header %}
        </div>
    </div>
    <div class="page-section" id="overview">
        <div class="row">
            <div class="col-12">
                <h1>{{ narrative.title }}</h1>
                <ul>
                    <li>{% translate "Last version: V" %}{{ narrative.versions.count }}</li>
                    <li>Published version: V{{ narrative.latest.version }}</li>
                    <li>{% translate "Last edited at" %}: {{ narrative.edited_at|naturaltime }}</li>
                    <li>{% translate "Created at" %}: {{ narrative.created_at|naturaltime }}</li>
                </ul>
            </div>
            <div class="col-12">
                {% if narrative.latest.is_published %}
                <a href="{{ narrative.get_absolute_url }}" class="btn btn-disabled btn-primary">
                    {% translate "View in site" %}
                </a>
                {% else %}
                <button title="{% translate "Unavailable: it's still a sketch" %}" data-toggle="tooltip" data-placement="top"
                    class="btn btn-secondary">
                    {% translate "View in site" %}
                </button>
                {% endif %}
                <a href="{% url 'console:narrative-timeline' n_uuid=narrative.master.uuid t_uuid=narrative.uuid %}"
                    class="btn btn-primary">
                    {% translate "Version history" %}</a>
            </div>
        </div>
        <div style="margin-top:2em;" class="row">
            <div class="col-12">
                {{ narrative.html|safe }}
            </div>
        </div>
    </div>
</div>
{% endblock %}