{% extends 'console/base.html' %}
{% load static %}
{% block body %}

<div class="container-fluid dashboard-content ">

    <div class="row">
        <div class="col-xl-10">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header" id="top">
                        <h2 class="pageheader-title">Kütüphaneci</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#0" class="breadcrumb-link">Hikayeler</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="#0"
                                            class="breadcrumb-link">{{ version.title }}</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Sürüm: {{ version.version }}
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-section" id="overview">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <h2>Arşivlenmiş hikaye sürümü görüntüleme</h2>
                        <p class="lead">Önceden yazıp sonradan düzenlesen de saklıyorum sürümleri ne olur ne olmaz diye.
                            Zamanda bozunma oluşturma diye ise "arşivlenmiş" sürümleri düzenlemen yasak. Yine de,
                            ellemeden bakabilirsin.</p>
                        <ul class="list-unstyled arrow">
                            <li>Eğer bu sürüme dönüş yapmak istersen kolay gelsin çünkü kolay bi yolu yok nsdfnsdlf</li>
                            <li>Bu sayfayı yalnızca sen görebilirsin.</li>
                        </ul>
                    </div>
                </div>
            </div> <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card" id="headings">
                        <h5 class="card-header">Arşivlenmiş sürüm no: {{ version.version }}</h5>
                        <div class="card-body">
                            <h1 class="text-center">{{ version.title }}</h1>
                            <p class="text-center">{{ version.body }}</p>
                        </div>
                    </div> <!-- ============================================================== -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}