{% extends 'console/base.html' %}
{% load static i18n %}
{% block body %}

<div class="container-fluid dashboard-content ">
    <div class="row">
        <div class="col-12">
            {% translate 'narrative version'|capfirst as header %}
            {% include 'console/page/header.html' with header=header %}
        </div>
        <div class="col-12">
            <div class="page-section" id="overview">
                <h1>{{ version.title }}</h1>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        {% if version.readonly %}
                        <p>{% blocktranslate trimmed %}
                            You're viewing a version of this narrative. You are not permitted
                            to edit the content to keep space-time continuum safe.
                            {% endblocktranslate %}</p>

                        {% endif %}
                    </div>
                </div>
            </div> <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card" id="headings">
                        <h5 class="card-header">V{{ version.version }}
                        </h5>
                        <div class="card-body">
                            {{ version.html|safe }}
                        </div>
                    </div> <!-- ============================================================== -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}