{% extends 'gatewall/base.html' %}
{% load static %}

{% block body %}
<section style="background:white; padding:1rem 0;">
    {% if user.is_authenticated %}

    <div class="row narrow text-center add-bottom">
        <h1>Halihazırda kayıtlısınız.</h1>
        <h3>{{ user.username }} ({% if user.is_shadow %}hayalet{% else %}yazar{%endif%}) olarak yetkilendirildiniz.
        </h3>
        <br>
        <p>Elbette, çıkış yapabilirsiniz.</p>
        <a id="logout-button" class="btn">Terk et</a>
        <form id="form">{% csrf_token %}</form>
    </div>

    {% else %}

    <div class="row half-bottom">

        <div class="col-six tab-full">
            <h3>Yazarlık Kaydı</h3>
            <form id="author-register" method="POST" action="">
                {% csrf_token %}
                <label for='username'>Mahlas</label>
                <input class="username" type='text'
                    placeholder="{{ doc.placeholder.username|default:'tükenmez kelam' }}" name='username' required>
                <label for='password'>Şifre</label>
                <input type='password' placeholder="{{ doc.placeholder.username|default:'böyle karmaşık bir şeyler' }}"
                    name='password' required>
                <a class="btn btn--primary" type='submit'>Tamamla</a>
            </form>
        </div>

        <div class="col-six tab-full">
            <h3>Hayaletlik Kaydı</h3>
            <form id="shadow-register" method="POST" action="">
                {% csrf_token %}
                <p>
                    Hayalet kayıt, imajinere özgü kısa süreli yetkilendirme mekanizmasıdır. kaydınızı sonradan kalıcı
                    kayda (yazar kaydına) dönüştürebilirsiniz.
                </p>
                <label for='username'>Mahlas</label>
                <input class="username" type='text' placeholder="{{ doc.placeholder.username|default:'casper' }}"
                    name='username'>
                <a id="shadow-button" class="btn btn--stroke" type='submit'>Tamamla</a>
            </form>
        </div>

    </div>

    {% endif %}
</section>
<script src="{% static 'fingerprint.js' %}"></script>
<script src="{% static 'gatewall.js' %}"></script>
<script src="{% static 'shadow.js' %}"></script>
<script src="{% static 'author.js' %}"></script>
<script src="{% static 'auth.js' %}"></script>
{% endblock body %}