{% extends 'base.html' %}
{% load static i18n widget_tweaks %}

{% block head %}
<script defer src="{% static 'fingerprint.js' %}"></script>
<script defer src="{% static 'gatewall.js' %}"></script>
<script defer src="{% static 'shadow.js' %}"></script>
<script defer src="{% static 'author.js' %}"></script>
<script defer src="{% static 'auth.js' %}"></script>
{% endblock %}
{% block body %}

<section style="background: white; padding:1em;">
    <div class="col-twelve tab-full">
        {% if informative %}
        {# User probably doesn't know about what this page means, explain. #}
        <div class="alert-box alert-box--info">
            <h4 style="margin: 0;">You need a name to wander around here.</h4>
            <p style="margin: 0; margin-top: .5em">{% blocktranslate trimmed %}
                You need a name to write stuff.
                {% endblocktranslate %}</p>
            <p style="margin: 0; margin-top: 1em;">
                <strong>Shadow Authentication</strong> enables you to sign up
                using only a username, and seamlessly logs you in.
                However, if you want a regular account, try <strong>Author
                    Authentication</strong>.
            </p>
            <p style="margin: 0; margin-top:1em;">
                <strong>Learn more below.</strong>
            </p>
        </div>
        {% endif %}
        {% if request.user.is_authenticated %}
        {# If user is already authenticated, inform them and provide a link to logout #}
        <div class="col-six alert-box alert-box--notice hideit">
            <p style="padding: 0;">{% blocktranslate trimmed with username=request.user.username %}
                You are already logged in as <strong>{{ username }}</strong>.{% endblocktranslate %}</p>
            {% url 'gatewall:logout' as logout_link %}
            <button onclick="location.href='{{ logout_link }}'"
                style="margin-bottom: 0; border-color: gray; color: gray;" type="submit"
                class="btn btn--stroke">{% translate 'log out'|capfirst %}</button>

            <i class="fa fa-times alert-box__close"></i>
        </div>
        {% endif %}
    </div>
    <div class="col-twelve tab-full text-center">
        <h1>{% translate 'authentication'|capfirst %}</h1>
        <p class="muted lead">{% blocktranslate trimmed %}
            There are two authentication options to choose from.<br>You can find more information
            below the forms.
            {% endblocktranslate %}</p>
    </div>
    <div class="row half-bottom">
        <div class="col-six tab-full">
            <h3>{% translate 'shadow authorization'|title %}</h3>
            <form id="shadow-register" method="POST" action="">
                {% csrf_token %}
                <p>{% blocktranslate trimmed %}
                    This type is temporary and designed for hit-and-runners. Know more below.
                    {% endblocktranslate %}</p>
                <label for='username'>{% translate 'username'|capfirst %}</label>
                <input class="username" type='text' placeholder="{{ doc.placeholder.username }}" name='username'>
                <a id="shadow-button" class="btn btn--stroke" type='submit'>{% translate 'register'|upper %}</a>
            </form>
            <p>{% blocktranslate trimmed %}
                After you type your username, the servers check your device's digital
                fingerprint and see whether we recognize you. Check the status message.
                {% endblocktranslate %}</p>
            <p class="">{% blocktranslate trimmed %}
                When you register as shadow, you only choose a username to start writing.
                Although you have the full functionality, it does not last long. Due to
                its nature, these type of sessions are pretty fragile and mostly considered
                one-time-only, meaning you probably won't have access to the same shadow session
                after couple of hours.
                {% endblocktranslate %}</p>
        </div>
        <div class="col-six tab-full">
            <h3>{% translate 'author authorization'|title %}</h3>
            <form id="author-register" method="POST" action="">
                {% csrf_token %}
                <label for='username'>{% translate 'username'|capfirst %}</label>
                <input class="full-width username" type='text' placeholder="{{ doc.placeholder.username }}"
                    name='username' required>
                <label for='password'>{% translate 'password'|capfirst %}</label>
                <input class="full-width" type='password' placeholder="{{ doc.placeholder.username }}" name='password'
                    required>
                <a class="btn btn--primary" type='submit'>{% translate 'proceed'|upper %}</a>
            </form>
            <p>{% blocktranslate trimmed %}
                Logging in and registring a new user is done here. Check out the status message
                as you type your username.
                {% endblocktranslate %}</p>
            <p class="">{% blocktranslate trimmed %}
                This type of registration is the conventional one. Your registration is
                persistent and safe; just as you used to.
                {% endblocktranslate %}</p>
        </div>
    </div>
</section>

{% endblock %}