<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% include 'global.html' %}
</head>

<body>
    <ul>
        {% if request.user.is_authenticated %}
        <li>Yetkilendirildi: Evet</li>
        <li>Hayalet: {{ request.user.is_shadow }}</li>
        <li>Kullanıcı: {{ request.user }}</li>
        {% else %}
        <li>Yetkilendirildi: Hayır</li>
        {% endif %}
    </ul>
    <form id="login" method="POST" action="">
        {% csrf_token %}
        <input name="action" type="hidden" value="LOGIN">
        <label for='username'>Kullanıcı</label>
        <input type='text' placeholder="..." name='username' required>
        <br />
        <label for='password'>Şifre</label>
        <input type='password' placeholder="..." name='password' required>
        <input type='submit' value='Girmeyi dene'>
    </form>

    <form method="POST" action="">
        {% csrf_token %}
        <input name="action" type="hidden" value="SHADOW">
        <input type="submit" value="Hayalet kayıt yap">
    </form>
    <p id='status'>Statüskop</p>

    <script>
        const $login = document.getElementById('login');
        const $status = document.getElementById('status');

        $login.onsubmit = function (e) {
            e.preventDefault();
            const fd = new FormData($login);
            fetch('', {
                method: 'POST',
                body: fd,
            })
            .then(response => {
                console.log(response)
                if (response.status === 200) $status.innerText = 'Y E T K I L E N D I R I L D I N';
                else if (response.status === 401) $status.innerText = 'Verdiğin bilgiler hatalı. Bir daha olmasın.';
                else status.innerText = 'Garip bir şeyler oldu.'
            })
            .catch(error => {
                $status.innerText = 'Bir şeyler ters gitti.';
                console.log(error);
            })
        }
    </script>
</body>

</html>