<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <label for='username'>Kullanıcı</label>
        <input type='text' placeholder="..." name='username' required>
        <label for='password'>Şifre</label>
        <input type='password' placeholder="..." name='password' required>
        <input type='submit' value='Girmeyi dene'>
    </form>
</body>
</html>