@font-face {
    font-family: 'quest';
    src: url('2-Questa_Regular-webfont.woff2') format('woff2'),
         url('2-Questa_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

