{% load static i18n %}
{% get_current_language as current_language %}
<!DOCTYPE html>
<html class="no-js" lang="{{ current_language }}">

<head>
    <meta charset="utf-8">
    <title>{% if doc.title %}{{ doc.title }}{% else %}{% translate 'Fly as high as you can' %}{% endif %} • Imajiner
    </title>
    {% translate 'Imagine a sky that forms as you wish. Beneath the sky, there is you. Let the world know what you kept inside for years. Let the people know and wow what you desire. Write about your drives, your dreams, your goals in life. Talk about you.' as description %}
    <meta name="description" content="{{ doc.description|default:description }}">
    <meta name="author" content="{{ doc.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

    <link rel="stylesheet" href="{% static 'fonts/librebaskerville/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/quest/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/questgrande/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/domine/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/lato/stylesheet.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/metropolis/stylesheet.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/solid.min.css"
        integrity="sha512-QN7X/bUbbeel9bbq6JVNJXk1Zowt+n+QPN+DjhEmTa4TdL1YPCsCey5JrvfRW8xp28LDYgGG/waNVdrhwMQmVQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
    {% block base.head %}
    <script defer src="{% static 'global.js' %}"></script>
    <script defer src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    {% block philosophy %}
    <link rel="stylesheet" href="{% static 'philosophy/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'philosophy/css/main.css' %}">

    <script src="{% url 'javascript-catalog' %}"></script>
    <!-- <script src="{% static 'js/modernizr.js' %}"></script> -->
    <!-- <script src="{% static 'js/pace.min.js' %}"></script>  -->
    <script defer src="{% static 'philosophy/js/plugins.js' %}"></script>
    <script defer src="{% static 'philosophy/js/main.js' %}"></script> 
    {% endblock philosophy %}
    {% endblock base.head %}

    {% block head %} {% endblock %}

    {% include 'global.html' %}
    <script defer src="{% static 'feedback.js' %}"></script>
</head>

{% block body.absolute %}

<body id="{% block body.id %}top{% endblock %}">
    {% block base.navbar %}
    <div class="s-pageheader">
        <header class="header">
            <div class="header__content row">
                <div class="header__logo">
                    <a class="logo">
                        <img src="{% static 'logo.png' %}" alt="logo">
                    </a>
                </div>
                <a class="header__toggle-menu" href="#0"
                    title="{% translate 'Menu' %}"><span>{% translate 'Menu' %}</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">IMAJINER</h2>

                    <ul class="header__nav">
                        <li><a href="{% url 'landing' %}" title="">{% translate 'homepage'|capfirst %}</a></li>
                        <li><a href="{% url 'notebook:list' %}" title="">{% translate 'narratives'|capfirst %}</a></li>
                        <li><a href="{% if request.user.is_authenticated %}{% url 'notebook:folder' %}{% else %}{% url 'landing' %}#write{% endif %}"
                                title="">{% translate 'write'|capfirst %}</a></li>
                        <li><a
                                href="{% if request.user.is_authenticated %}{% url 'console:overview' %}{% endif %}">{% translate 'console'|capfirst %}</a>
                        </li>
                        <li><a href="{% url 'explore:about' %}" title="">{% translate 'about'|capfirst %}</a></li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="{% translate 'close'|capfirst %}"
                        class="header__overlay-close close-mobile-menu">{% translate 'close'|capfirst %}</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div>
    {% endblock base.navbar %}

    {% block body %}
    {# body block empty #}
    {% endblock body %}

    {% block base.footer %}
    <footer class="s-footer">
        <br>
        <div class="s-footer__main">
            <div class="row">



                <div id="footer-feedback" class="col-five md-full end s-footer__subscribe">

                    <h4>{% translate 'feedback'|capfirst %}</h4>

                    <p>{% blocktranslate trimmed %}
                        You can quickly report your impressions of Imajiner. No personal information is included in the
                        feedback messages.
                        <br>This helps us gain a more thorough insight of your experience in Imajiner.
                        {% endblocktranslate %}</p>
                    <div style="display:none;" class="alert-box alert-box--notice hideit">
                        <p id="fb-status"></p>
                        <i class="fa fa-times alert-box__close"></i>
                    </div> <!-- end notice -->
                    <div class="subscribe-form">

                        <form action="{% url 'feedback' %}" method="POST" id="mc-form" class="group" novalidate="true">
                            {% csrf_token %}
                            {% if request.user.is_authenticated %}<input type="hidden" name="user-id"
                                value="{{ request.user.id }}">{% endif %}
                            <input type="hidden" name="session-key" value="{{ request.session.session_key }}">
                            <input type="text" value="" name="message" class="email" id="mc-email"
                                placeholder="{% translate 'and there is that'|capfirst %}..." required="">
                            <input type="submit" name="subscribe" value="{% translate 'send'|upper %}">

                            <label for="mc-email" class="subscribe-message"><i class="fa fa-info"></i>
                                {% if not request.user.is_authenticated %}{% blocktranslate trimmed %}
                                You are not authorized and will be sending this feedback anonymously.
                                {% endblocktranslate %}{% else %}{% blocktranslate trimmed with username=request.user.username %}
                                You are authorized and will be sending this feedback as {{ username }}.
                                {% endblocktranslate %}{% endif %}
                            </label>

                        </form>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div>
        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="col-full">
                    <div class="s-footer__copyright">
                        <span>&copy; Imajiner. {% translate 'all rights reserved'|capfirst %}</span>
                        <span>{% translate 'This website contains materials from third parties.' %} <a
                                href="{% url 'explore:about' %}#credits">{% translate 'Know more' %}</a></span>
                    </div>

                    <div class="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"></a>
                    </div>
                </div>
            </div>
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->
    {% endblock base.footer %}

    {% block base.foot %} {% endblock %}
    {% block foot %} {% endblock %}
</body>
{% endblock body.absolute %}

</html>