{% extends 'base.html' %}
{% load static i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'transcend/css/base.css' %}">
<link rel="stylesheet" href="{% static 'transcend/css/main.css' %}">
<link rel="stylesheet" href="{% static 'flags/css/flag-icon.min.css' %}">

{% endblock head %}

{% block base.foot %}

<script defer type="text/javascript" src="{% static 'transcend/js/plugins.js' %}"></script>
<script defer type="text/javascript" src="{% static 'transcend/js/main.js' %}"></script>
<script defer src="{% static 'js/modernizr.js' %}"></script>

{% endblock %}

{% block base.navbar %}{# <!-- navbar override --> #}{% endblock %}
{% block base.footer %}{# <!-- footer override --> #}{% endblock %}
{% block philosophy %}{# <!-- philosophy override --> #}{% endblock %}


{% block body %}

<!-- header
    ================================================== -->
<header class="s-header">

    <div class="header-logo">
        <a class="site-logo" href="{% url 'landing' %}">
            <img src="{% static 'logo.png' %}" alt="logo">
        </a>
    </div> <!-- end header-logo -->

    <nav class="header-nav">

        <a href="#0" class="header-nav__close" title="{% translate 'Close' %}"><span>{% translate 'Close' %}</span></a>

        <div class="header-nav__content">
            <h3>IMAJINER</h3>

            <ul class="header-nav__list">
                <li class="current"><a class="smoothscroll" href="#top" title="home">{% translate 'Homeland' %}</a></li>
                <li><a class="" href="{% url 'notebook:list' %}">{% translate 'Narratives' %}</a></li>
                <li><a class="" href="#write">{% translate 'write'|capfirst %}</a></li>
                <li><a class="smoothscroll" href="#missionary" title="services">{% translate 'Missionary' %}</a></li>
                <li><a class="" href="{% url 'console:overview' %}">{% translate 'Console' %}</a></li>
                <li><a class="" href="{% url 'explore:about' %}">{% translate 'about'|capfirst %}</a></li>
                <li><a class="smoothscroll" href="#feedback" title="contact">{% translate 'Feedback' %}</a></li>
            </ul>
            <p>
                {% url 'explore:about' as link %}
                {% blocktranslate trimmed with link=link %}
                Imajiner is an open-sourced, free platform. <a href="{{ link }}#privacy">Know more</a>
                {% endblocktranslate %}</p>

        </div> <!-- end header-nav__content -->

    </nav> <!-- end header-nav -->

    <a class="header-menu-toggle" href="#0">
        <span class="header-menu-icon"></span>
    </a>

</header> <!-- end s-header -->


<!-- home
    ================================================== -->
<section id="top" class="s-home target-section" data-parallax="scroll"
    data-image-src="{% static 'transcend/images/hero-bg.jpg' %}" data-natural-width=3000 data-natural-height=2000
    data-position-y=top>

    <div class="shadow-overlay"></div>

    <div class="home-content">

        <div class="row home-content__main">
            <h1>
                {% translate 'A mixture of inside you and the outer world - a solemn thought, is it not?' %}
            </h1>

            <p>
                {% translate 'No man is required to be understood.' %}<br>
            </p>
        </div> <!-- end home-content__main -->

    </div> <!-- end home-content -->

    <ul class="home-sidelinks">
        <li><a class="smoothscroll"
                href="#missionary">{% translate 'what'|capfirst %}<span>{% translate 'whatcha got there' %}</span></a>
        </li>
        <li><a class="smoothscroll"
                href="#feedback">{% translate 'feedback'|capfirst %}<span>{% translate 'your fairy wishes' %}</span></a>
        </li>
        <li><a class="smoothscroll"
                href="#machinery">{% translate 'how'|capfirst %}<span>{% translate 'how tf does these work' %}</span></a>
        </li>
    </ul> <!-- end home-sidelinks -->

    <ul class="home-social">
        <li class="home-social-title">{% translate 'available in'|capfirst %}</li>
        {% get_available_languages as LANGUAGES %}

        {% for language_code, language_name in LANGUAGES %}
        {% if language_code == 'en' %}
        <li><a hreflang="{{ language_code }}" href="/{{ language_code }}">
                <span class="flag-icon flag-icon-us"></span>
                <span class="home-social-text">{{ language_name }}</span>
            </a>
        </li>
        {% else %}
        <li><a hreflang="{{ language_code }}" href="/{{ language_code }}">
                <span class="flag-icon flag-icon-{{ language_code }}"></span>
                <span class="home-social-text">{{ language_name }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        <!--
            <li><a href="#0">
                <span class="flag-icon flag-icon-gb"></span>
                <span class="home-social-text">British</span>
            </a></li>
        <li><a href="#0">
            <span class="flag-icon flag-icon-fr"></span>
                <span class="home-social-text">Français</span>
            </a></li> -->
    </ul> <!-- end home-social -->

    <a href="#missionary" class="home-scroll smoothscroll">
        <span class="home-scroll__text">{% translate 'Go down!' %}</span>
        <span class="home-scroll__icon"></span>
    </a> <!-- end home-scroll -->

</section> <!-- end s-home -->



<section id='missionary' class="s-about">

    <div class="row section-header">
        <div class="col-full">
            <h3 class="subhead">{% translate 'missionary'|upper %}</h3>
            <h1 class="display-1">{% blocktranslate trimmed %}
                The divine purpose of this platform is to promise people mental freedom.
                {% endblocktranslate %}</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row">
        <div class="col-full">
            <p class="lead">{% blocktranslate trimmed %}
                Imagine a sky that forms as you wish. Beneath the sky, there is you.
                Let the world know what you kept inside for years. Let the people know
                and wow what you desire. Write about your drives, your dreams, your goals in life.
                Talk about you.
                {% endblocktranslate %}</p>
        </div>
    </div> <!-- end about-desc -->
</section> <!-- end s-about -->


<section id='write' class="s-services light-gray">

    <div class="row section-header">
        <div class="col-full">
            <h3 class="subhead">{% translate 'write'|upper %}</h3>
            <h1 class="display-1">{% translate 'Shall you begin writing, whenever you feel like.' %}</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row">
        <div class="col-full">
            <p class="lead">{% blocktranslate trimmed %}
                You will be redirected to authorization page to select a username - we
                need an author to display, yes? Then you can start writing without any
                further bother.
                {% endblocktranslate %}</p>
                <a class="btn btn--primary" href="{% url 'notebook:folder' %}">{% translate 'start writing'|capfirst %}</a>
            </div>
    </div> <!-- end about-desc -->


</section> <!-- end s-services -->


<!-- services
    ================================================== -->
<section id='machinery' class="s-about">

    <div class="row section-header">
        <div class="col-full">
            <h3 class="subhead">{% translate 'machinery'|upper %}</h3>
            <h1 class="display-1">{% translate 'I surely did get rid of any bothersome.' %}</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row">
        <div class="col-full">
            <p class="lead">{% blocktranslate trimmed %}
                Some unique machinery around you is trying to offer a intuitive user experience.
                {% endblocktranslate %}</p>
        </div>
    </div> <!-- end about-desc -->

    <div class="row services-list block-1-3 block-m-1-2 block-tab-full">

        <div class="col-block service-item ">
            <div class="service-icon service-icon--brand-identity">
                <i class="fas fa-hands-helping"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">{% translate 'the solemn promise'|title %}</h3>
                <p>
                    {% blocktranslate trimmed %}
                    The moment you read is the moment you value that piece of text the most.
                    You can be assured that nothing will distract you while you are reading from
                    our side.
                    {% endblocktranslate %}
                    <br><a href="{% url 'explore:about' %}#attention">{% translate 'Know more' %}</a>
                </p>
            </div>
        </div>

        <div class="col-block service-item">
            <div class="service-icon  service-icon--illustration">
                <i class="far fa-circle"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">{% translate 'truly optional registration'|title %}</h3>
                <p>
                    {% blocktranslate trimmed %}
                    With our unique authorization mechanism named Shadow,
                    we never limit the website's functionality based on whether you are registered or not.
                    What's more, you don't even need a username to start writing, it's auto-generated!
                    (You can change your username later too!)

                    {% endblocktranslate %}
                    <br><a href="{% url 'explore:about' %}#shadow">{% translate 'Know more' %}</a>
                </p>
            </div>
        </div>

        <div class="col-block service-item">
            <div class="service-icon  service-icon--web-design">
                <i class="fas fa-pen-alt"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">{% translate 'resilient writing studio'|title %}</h3>
                <p>
                    {% blocktranslate trimmed %}
                    Anything you write at studio is saved in our servers every couple of seconds;
                    don't worry about lost data. We quite know how frustrating it is to spend a lot of
                    time on a story and lost it.
                    {% endblocktranslate %}
                    <br><a href="{% url 'explore:about' %}#studio">{% translate 'Know more' %}</a>
                </p>
            </div>
        </div>

        <div class="col-block service-item">
            <div class="service-icon service-icon--product-strategy">
                <i class="fa fa-user"></i>
            </div>
            <div class="service-text">
                <h3 class="h4">{% translate 'by users for users'|title %}</h3>
                <p>
                    {% blocktranslate trimmed %}
                    We are, just as you, everyday users. We do know the hassles we face,
                    and exclude them from here. A place designed solely for you and only you.
                    {% endblocktranslate %}
                    <br><a href="{% url 'explore:about' %}">{% translate 'Know more' %}</a>
                </p>
            </div>
        </div>

    </div> <!-- end services-list -->

</section> <!-- end s-services -->

<!-- contact
    ================================================== -->
<section id="feedback" class="s-contact">

    <div class="row section-header">
        <div class="col-full">
            <h3 class="subhead subhead--light">{% translate 'feedback'|upper %}</h3>
            <h1 class="display-1 display-1--light">
                {% translate 'We have a dream where the freedom of expression is truly present.' %}</h1>
        </div>
    </div> <!-- end section-header -->

    <div class="row">

        <div class="col-full contact-main">
            <p>
                <a href="mailto:{{ doc.mail|default:'hi@imajiner.space' }}"
                    class="contact-email">{{ doc.mail|default:'hi@imajiner.space' }}</a>
            </p>
        </div> <!-- end contact-main -->

    </div> <!-- end row -->

    <div class="row">



        <div class="col-five tab-full contact-secondary">
            <h3 class="subhead subhead--light">{% translate 'reach us out'|upper %}</h3>

            <ul class="contact-social">
                <li>
                    <a href="https://t.me/imajinerspace">
                        <i class="fab fa-telegram-plane"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/imajinerspace">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/divisia/imajiner">
                        <i class="fab fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:webmaster@imajiner.space">
                        <i class="far fa-envelope"></i>
                    </a>
                </li>
            </ul> <!-- end contact-social -->
        </div> <!-- end contact-secondary -->

    </div> <!-- end row -->

    <div class="row">
        <div class="col-full cl-copyright">
            <span>
                <br>
                Copyright &copy;
                <script>
                    document.write(new Date().getFullYear());
                </script>{% translate 'All rights reserved.' %}
                <br><span>{% translate 'This website contains materials from third parties.' %} <a
                        href="{% url 'explore:about' %}#credits">{% translate 'Know more' %}</a></span>
        </div>
    </div>

    <div class="cl-go-top">
        <a class="smoothscroll" title="{% translate 'go to top'|capfirst %}" href="#top"><i class="icon-arrow-up"
                aria-hidden="true"></i></a>
    </div>

</section> <!-- end s-contact -->

<!-- preloader
    ================================================== -->
<div id="preloader">
    <div id="loader">
    </div>
</div>

{% endblock body %}