{% extends 'base.html' %}
{% load static %}

{% block philosophy %}
<!-- This block overrides base templates imports 
     related to philosophy for navbar, but since 
     *this* is philosophy's base template we do not 
     need them or code duplication. -->
{% endblock philosophy %}

{% block base.head %}
<link rel="stylesheet" href="{% static 'philosophy/css/base.css' %}">
<link rel="stylesheet" href="{% static 'philosophy/css/vendor.css' %}">
<link rel="stylesheet" href="{% static 'philosophy/css/main.css' %}">

<script defer src="{% static 'philosophy/js/modernizr.js' %}"></script>
<script defer src="{% static 'philosophy/js/pace.min.js' %}"></script>
<script defer src="{% static 'philosophy/js/jquery-3.2.1.min.js' %}"></script>
<script defer src="{% static 'philosophy/js/plugins.js' %}"></script>
<script defer src="{% static 'philosophy/js/main.js' %}"></script>
{% endblock %}


{% block base.foot %}
{% endblock %}
