{% extends 'base.html' %}
{% load static %}

{% block base.head %}
<link rel="stylesheet" href="{% static 'transcend/css/base.css' %}">
<link rel="stylesheet" href="{% static 'transcend/css/vendor.css' %}">
<link rel="stylesheet" href="{% static 'transcend/css/main.css' %}">

<script src="{% static 'transcend/js/modernizr.js' %}"></script>
<script src="{% static 'transcend/js/pace.min.js' %}"></script>
{% endblock base.head %}

{% block base.foot %}
<script type="text/javascript" src="{% static 'transcend/js/plugins.js' %}"></script>
<script type="text/javascript" src="{% static 'transcend/js/main.js' %}"></script>
{% endblock %}
